# Allow system server to read camera properties
get_prop(system_server, vendor_persist_camera_prop)

get_prop(system_server, vendor_wfd_sys_debug_prop)

# Freeform
add_service(system_server, lmo_freeform_service);

# Webview
allow system_server webview_zygote:process setsched;
allow system_server app_zygote:process setsched;